<ul>
	<li>
		<a href="#top" title="Back to top"><i class="fas fa-arrow-up"></i></a>
	</li>
	<li>
		<a href="{{ site.url }}/logout/resources" title="Helpful resources, references, and credits">Resources</a>
	</li>
	<li>
		<a href="{{ site.url }}/logout/victims" title="Victims of cyber harassment">Victims of it</a>
	</li>
	<li>
		<a href="{{ site.url }}/logout/fighting" title="How to fight cyber harassment">Fighting it</a>
	</li>
	<li>
		<a href="{{ site.url }}/logout/prevention" title="How to prevent cyber harassment">Preventing it</a>
	</li>
	<li>
		<a href="{{ site.url }}/logout/about" title="About cyber harassment">About cyber harassment</a>
	</li>
	<li>
		<a href="{{ site.url }}/logout" title="Home">Home</a>
	</li>
	
</ul>
