<ul>
	<li>
		<button onclick="window.location='{{ site.url }}/logout';" title="Home">Home</button>
	</li>
	<li>
		<button onclick="window.location='{{ site.url }}/logout/about';" title="About cyber harassment">About cyber harassment</button>
	</li>
	<li>
		<button onclick="window.location='{{ site.url }}/logout/prevention';" title="How to prevent cyber harassment">Preventing it</button>
	</li>
	<li>
		<button onclick="window.location='{{ site.url }}/logout/fighting';" title="How to fight cyber harassment">Fighting it</button>
	</li>
	<li>
		<button onclick="window.location='{{ site.url }}/logout/victims';" title="Victims of cyber harassment">Victims of it</button>
	</li>
	<li>
		<button onclick="window.location='{{ site.url }}/logout/resources';" title="Helpful resources, references, and credits">Resources</button>
	</li>
</ul>
