<ul>
	<li>
		<button onclick="window.location='/';" title="Home">Home</button>
	</li>
	<li>
		<button onclick="window.location='/about';" title="About cyber harassment">About cyber harassment</button>
	</li>
	<li>
		<button onclick="window.location='/prevention';" title="How to prevent cyber harassment">Preventing it</button>
	</li>
	<li>
		<button onclick="window.location='/fighting';" title="How to fight cyber harassment">Fighting it</button>
	</li>
	<li>
		<button onclick="window.location='/victims';" title="Victims of cyber harassment">Victims of it</button>
	</li>
	<li>
		<button onclick="window.location='/resources';" title="Helpful resources, references, and credits">Resources</button>
	</li>
</ul>
