<ul>
	<li>
		<a href="/" title="Home">Home</a>
	</li>
	<li>
		<a href="/about" title="About cyber harassment">About cyber harassment</a>
	</li>
	<li>
		<a href="/prevention" title="How to prevent cyber harassment">Preventing it</a>
	</li>
	<li>
		<a href="/fighting" title="How to fight cyber harassment">Fighting it</a>
	</li>
	<li>
		<a href="/victims" title="Victims of cyber harassment">Victims of it</a>
	</li>
	<li>
		<a href="/resources" title="Helpful resources, references, and credits">Resources</a>
	</li>
</ul>
