<div id="credits">
	<p>This website is not associated with Kiwi Farms.
		<br>Built from scratch | Original theme by ThemeHouse
		<br>Kiwifarms.net Copyright © <script>var year = new Date();
			document.write(year.getFullYear());
		</script> Lolcow LLC.
		<br>LOGOUT Copyright © <script>var year = new Date();
			document.write(year.getFullYear());
		</script> ByLiz.org. All rights reserved. 
		<br>Hosted by <a href="https://pages.github.com/" target="_blank">Github Pages</a>.
	</p>
</div>