<li><a href="https://github.com/byliz" target="_blank" title="Github"><i class="fab fa-github"></i></a></li>
<li><a href="https://twitter.com/smugcroc" target="_blank" title="Twitter"><i class="fab fa-twitter"></i></a></li>
<li><a href="http://yt.byliz.org" target="_blank" title="YouTube"><i class="fab fa-youtube"></i></a></li>
<li><a href="https://linkedin.com/in/byliz" target="_blank" title="LinkedIn"><i class="fab fa-linkedin-in"></i></a></li>
<li><a href="https://links.byliz.org" target="_blank" title="All Profiles"><i class="fas fa-link"></i></a></li>
<li><a href="https://feedburner.google.com/fb/a/mailverify?uri=lizlorena&amp;loc=en_US" title="Subscribe by Email" target="_blank"><i class="fas fa-rss" aria-hidden="true"></i></a></li>
